.img-game-prompt-splitter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .health-quiz {
  height: auto;
  position: relative;
} */

.horizontal-flex-container {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-button-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-quiz-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-img {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin-right: 50px;
}

.health-quiz-score-label {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}

.health-quiz-score {
  margin: 0 0 50px 0;
  font-size: 36px;
  font-weight: 800;
  color: red;
}

.health-quiz-question {
  font-size: 30px;
  margin: 0;
  color: #333;
}

.health-quiz-desc {
  font-size: 26px;
  margin: 0 0 20px 0;
  color: #333;
}

.explore-other-text:hover {
  cursor: pointer;
}

.correct-text {
  font-size: 22px;
  font-weight: 700;
  color: green;
}

.wrong-text {
  font-size: 22px;
  font-weight: 700;
  color: red;
}

@media (max-width: 700px) {
  .img-game-prompt-splitter {
    flex-direction: column;
  }
  .game-img {
    align-self: center;
    justify-self: center;
    margin: 0 0 20px 0;
    width: 200px;
    height: 200px;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  /* .game-img {
    height: 180px;
    width: 180px;
  } */
  .health-quiz-score-label {
    font-size: 18px;
  }
  .health-quiz-score {
    font-size: 28px;
  }
  .health-quiz-desc {
    font-size: 18px;
  }
  .health-quiz-question {
    font-size: 18px;
  }
  .text-button {
    font-size: 16px;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* .game-img {
    height: 190px;
    width: 190px;
  } */
  .health-quiz-score-label {
    font-size: 21px;
  }
  .health-quiz-score {
    font-size: 31px;
  }
  .health-quiz-desc {
    font-size: 20px;
  }
  .health-quiz-question {
    font-size: 20px;
  }
  .text-button {
    font-size: 18px;
  }
}

/* Medium devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .health-quiz-score-label {
    font-size: 22px;
  }
  .health-quiz-score {
    font-size: 34px;
  }
  .health-quiz-desc {
    font-size: 22px;
  }
  .health-quiz-question {
    font-size: 22px;
  }
  .text-button {
    font-size: 20px;
  }
}

/* Large devices (large desktops) */
@media (min-width: 992px) {
  .health-quiz-score-label {
    font-size: 25px;
  }
  .health-quiz-score {
    font-size: 37px;
  }
  .health-quiz-desc {
    font-size: 24px;
  }
  .health-quiz-question {
    font-size: 24px;
  }
  .text-button {
    font-size: 22px;
  }
}

.health-quiz-progress-bar {
  border-radius: 30px;
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 40px;
}

.health-quiz-progress {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #317749;
  height: 100%;
}

.health-quiz-progress-done {
  border-radius: 30px;
  background-color: #317749;
  height: 100%;
}
