.hamburger {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #001e30;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b4d9f6;
  position: sticky;
  top: 0;

  ul {
    list-style: none;
    display: flex;

    a:not(.active):hover {
      text-decoration: underline;
    }

    a {
      display: block;
      text-decoration: none;
      color: #001e30;
      padding: 0.5rem;
      margin: 0 0.5rem;
      border-radius: 0.5rem;
    }
  }

  .titleDiv {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;

    img {
      width: 42px;
    }

    .title {
      font-size: 1.5rem;
      text-decoration: none;
      color: #001e30;
    }
  }

}

.linkActive {
  text-decoration: underline !important;
}

.iconsDiv {
  display: none;
}

@media (max-width: 580px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;

    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
      padding: 0;
    }

    ul.open {
      display: flex;
    }

    ul li {
      width: 100%;
      text-align: center;
    }

    ul li a {
      margin: 0.2rem 0.5rem;
    }
  }

  .iconsDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}